body{
<<<<<<< Updated upstream
    
    font-family: 'Rammetto One', cursive;
  
}

#logo{

}

header{
    text-align: center;
    /* background-color:#5d000d; */
    color:white;
    background-image: url("../images/bgheader.jpg");
}

=======
    background-color: aliceblue;
}
>>>>>>> Stashed changes
.jumbotron{
    text-align: center;
}
.container{
    text-align: center;
    align-content: center;
}

.dropdown{
    padding:10px;
    margin-bottom: 10px;
}
h3{
    padding: 0 20px;
    margin-right: 20px;
}

button {
    padding:20px 50px;

}

form{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 50px;

}

#btnZipCode{

    max-width: 150px;
}

#lblZipCode{
    margin-left: 7px;
}
.zip{
    background-color: #6c757d;
    color: white;
}
<<<<<<< Updated upstream
.sidebar{
    width: 250px;
    height: 350px;
    border: 2px solid red; 
=======
header{
    background-image: url("../images/bgheader.jpg"); 
    color: white;
>>>>>>> Stashed changes
}