body{
    background-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
  
}
#content{
   
    display:grid;
    margin: 0 auto;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 5px;
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "aside aside main main main main"
    "aside aside main main main main"
    "aside aside main main main main"
    "table table table table table table"
    "footer footer footer footer footer footer"
    ;
}

header{
    grid-area: header;
    text-align: center;
    color:darkslategrey;
    background-image: url("../images/datingBlackTie.jpg");
    background-repeat: no-repeat;
}
nav{
    grid-area: nav;
    height: 50px;
}

.jumbotron{
    text-align: center;
}
.container{
    text-align: center;
    align-content: center;
}

.dropright{
    padding:10px;
    margin-bottom: 10px;
}
h4{
    text-align: right;
    padding: 0 20px;
    margin-right: 20px;
}
img{
    width: auto;
    height:500px;
}

button {
    padding:20px 50px;

}
table{
    grid-area: table;
    margin-top: 25px;
}
.table-data{
    text-align: center;
}


#btnZipCode{
margin-left: 20px;
    max-width: 150px;
}

#lblZipCode{
    margin-left: 7px;
}
.zip{
    background-color: #6c757d;
    color: white;
    
}
.sidebar{
    width: 95%;
    height: 500px;
    padding: 20px;
    
}
.dropdown-menu{
    padding: 10px;
}

aside{
    margin-right: 10px;
    grid-area: aside;
    border: 2px solid lightgray;
    border-radius: 5px;
    color: white;

}
main{
    grid-area: main;
}

footer{
    grid-area: footer;
    color:white;
    padding: 20px 20%;
    /* margin-top: 20px; */

}

.titleLine {
    /* padding:10px; */
    width: 150px;
    text-align: center;
  }

  .carousel-caption{
      text-shadow: 2px 2px 5px black;
      background-color: dimgray;
      opacity:0.75;
      font-weight: 900;
      color: black;
      border-radius: 10px;

  }

  h5{
      font-weight: 900;
     opacity:1.0;
  }
  td{
      height: 30px;
  }
