body{
    background-image: url("../images/bgheader.jpg");
    font-family: 'Rammetto One', cursive;
  
}

#logo{

}

header{
    text-align: center;
    background-color:#5d000d;
    color:white;
}

.jumbotron{
    text-align: center;
}
.container{
    text-align: center;
    align-content: center;
}